#jumbotron .card {
  background-color: rgba(255, 255, 255, 0.3);
}

#jumbotron img {
  margin-bottom: 135px !important;
  width: 800px;
}

#advantages img {
  width: 60px;
}

#prices .carousel-control-prev,
#prices .carousel-control-next {
  width: auto !important;
}
